html {
    height: 100%;
}

body {
    background-color: #f3f3f3;
    margin: 0;
    background-image: url(images/DefaultBG.jpg);
    background-repeat: repeat;
    user-select: none;
    -moz-user-select: none;
    /*overflow: hidden;*/
    font-family: "NovaFlat";
    height: 100%;
}

#boardDiv {
    display: flex;
    width: 100%;
    height: 100%;
}

table {
    display: table-header-group;
    margin: auto;
    font-size: 1.5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background: rgb(233, 223, 196);

    background: -webkit-linear-gradient(left, rgba(233, 223, 196, 1) 0%, rgba(233, 223, 196, 1) 1%, rgba(237, 227, 200, 1) 2%, rgba(237, 227, 200, 1) 24%, rgba(235, 221, 195, 1) 25%, rgba(233, 223, 196, 1) 48%, rgba(235, 221, 195, 1) 49%, rgba(230, 216, 189, 1) 52%, rgba(230, 216, 189, 1) 53%, rgba(233, 219, 192, 1) 54%, rgba(230, 216, 189, 1) 55%, rgba(230, 216, 189, 1) 56%, rgba(233, 219, 192, 1) 57%, rgba(230, 216, 189, 1) 58%, rgba(230, 216, 189, 1) 73%, rgba(233, 219, 192, 1) 74%, rgba(233, 219, 192, 1) 98%, rgba(235, 221, 195, 1) 100%),
        #aa865999;

    background-repeat: repeat;
    background-size: auto auto;
    background-size: 63px;
    background-blend-mode: multiply;

    padding: 1em;
    border: 1em ridge #aa8659;
}

tr {
    display: flex;
    justify-content: center;
}

td {
    width: 4em;
    height: 4em;
    text-align: center;
    border-radius: 100%;
    border-color: #aaa0;
    border-style: solid;
    cursor: default;
    box-sizing: border-box;
    font-weight: bold;
    box-shadow: inset 0px 0px 1.2em 0px #00000080;
    border-collapse: separate;
    shape-outside: circle(45% at 50% 50%) border-box;
    clip-path: circle(45% at 50% 50%);
}

td.selected {
    border-color: rgba(255, 166, 0, 1);
    border-width: 0.7em;
    transition: 0.4s;
}

td.selected2 {
    border-color: rgba(255, 166, 0, 1);
    border-width: 0.7em;
    transition: 0.4s;
    border-style: double;
}

.canHover td:hover {
    background-color: rgba(255, 166, 0, 1) !important;
}

td.pairable {
    background-color: rgb(0, 140, 255) !important;
}

td.blocked {
    background-color: black !important;
    border-radius: 0;
    transform: rotate(0deg);
    cursor: not-allowed;
    color: black !important;
    display: none;
}

td.hiddenFriendly {
    background-color: #98989880;
}

td.hiddenFriendly:hover {
    background-color: #d1a62f9f;
}

td.hidden {
    background-color: #665a5a;
    color: #665a5a !important;
}

td.friendly {
    color: rgb(2, 2, 170);
    box-shadow: inset -1em -1em 2em 0px #d7d7d7;
    background-color: white;
}

td.enemy {
    color: rgb(170, 2, 2);
    box-shadow: inset -1em -1em 1.5em 0px #000;
    background-color: #1d1d1de6;
}

td.natural {
    color: rgb(27, 27, 27);
}

td.moveable {
    background-color: #30ffcc99;
}

#all {
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

#header {
    display: flex;
    height: 3.5em;
    background-color: #007dea;
    font-size: 100%;
    box-shadow: 0px 5px 40px 6px black;
    flex-basis: content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#header input,
button {
    vertical-align: middle;
    font-size: 1.3em;
    margin: auto;
    cursor: pointer;
    font-family: "Cairo";
}

#gameview {
    display: block;
    height: 100%;
}

.sidebar {
    display: table-cell;
    max-width: 10vw;
    box-shadow: -9px 0px 8px -7px black;
    min-width: 7vw;
    height: 88vh;
    padding: 2vh 1vw;
    margin-top: 0;
    isolation: isolate;
}

#infobar {
    background-color: grey;
    width: 100%;
    display: table-caption;
    border-top: 2px grey solid;
}

h2 {
    margin: 0;
    padding: 1.1vh 1vw;
}

.switchBtn {
    height: 6.5rem;
    border-end-end-radius: 40px;
    border-end-start-radius: 40px;
    border: 0.7em ridge var(--color, #aa8659);
    background-color: var(--color, #bda27a);
    border-width: 0.6em !important;
}

.switchBtn img {
    height: 1.7rem;
    vertical-align: middle;
}

@media (orientation: landscape) {
    .switchBtn {
        position: fixed;
        top: 47.6%;
        transform: rotate(270deg);
    }

}

@media (orientation: portrait) {
    .switchBtn {
        position: relative;
        /*left: 42.6%;
        top: 3.5rem;*/
    }

    #gameview {
        margin-bottom: 6.5rem;
    }
}

#title {
    vertical-align: middle;
    font-size: 3em;
    font-family: NovaFlat;
    flex-grow: 1;
    text-align: center;
}

.dropbtn {}

.dropbtn:hover,
.dropbtn:focus {}

.dropdown {
    float: right;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 0.3em;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
    width: max-content;
    width: -moz-max-content;
    padding-left: 0.2em;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
}

.dropdown-content font {
    font-size: 1.1em;
    padding: 10px;
}

.show {
    display: block;
}

.dropdown-content button {
    margin: 0.2em;
    width: 5.5em;
    font-size: inherit;
}

.dropdown-content button font {
    display: block;
}

.dropdown-content button img {
    width: 75%;
}

#hoverBtn {
    font-size: 1.1em !important;
    height: 2em;
}

#linkBtn {
    font-size: 1.38em !important;
}

@keyframes colorRotate {
    from {
        border-color: rgb(255, 0, 0);
    }

    16.6% {
        border-color: rgb(255, 0, 255);
    }

    33.3% {
        border-color: rgb(0, 0, 255);
    }

    50% {
        border-color: rgb(0, 255, 255);
    }

    66.6% {
        border-color: rgb(0, 255, 0);
    }

    83.3% {
        border-color: rgb(255, 255, 0);
    }

    to {
        border-color: rgb(255, 0, 0);
    }
}

.winningBall {
    animation: colorRotate 6s linear 0s infinite;
    border: 0.7em solid;
}

@keyframes myTurnAnim {
    from {
        box-shadow: 0em 0em 0em #ffb400 inset;
    }

    to {
        box-shadow: 0em -1.5em 1.1em #ffb400 inset;
    }
}

.myTurn {
    animation: myTurnAnim 2s ease 0s infinite alternate;
}

@font-face {
    font-family: 'NovaFlat';
    src: url('fonts/NovaFlat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'GermaniaOne';
    src: url('fonts/GermaniaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo';
    src: url('fonts/Cairo-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo Semi';
    src: url('fonts/Cairo-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo Bold';
    src: url('fonts/Cairo-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cairo Black';
    src: url('fonts/Cairo-Black.ttf') format('truetype');
}